<div class="input-block">
    <label for="title">Nome</label>
    <input type="text" name="name" value="{{ chef.name }}" required>
</div>

<div class="input-block">
    <label for="">Avatar</label>
    <div class="photo-upload">
        <input id="photo-input" type="file" name="photo" accept="image/*">
        <p>Enviar Avatar</p>
    </div>
</div>