<div class="input-block">
    <label for="title">Nome</label>
    <input type="text" name="name" value="{{ chef.name }}" required>
</div>

<div class="input-block">
    <label for="">Avatar</label>
    <input type="url" placeholder="https://" name="avatar_url" value="{{ chef.avatar_url }}">
</div>