{% extends '../layout.njk' %}
{% block head %}
    <link rel="stylesheet" href="/styles/admin/index.css">
{% endblock %}

{% block content %}
    <main id="content">
        <div id="main-content">
            <div class="header">
                <h1>Gerenciar chefs</h1>
                <a href="/admin/chefs/create">Adicionar</a>
            </div>

            <section>
                <div class="chef-cards">
                    {% for chef in chefs %}
                        <div class="chef-card"> 
                            <div class="chef-avatar">
                                <img src="{{ chef.img }}" alt="Chef {{ chef.name }}">
                            </div>
                            <div class="chef-content">
                                <p>{{ chef.name }}</p>
                                <a href="/admin/chefs/{{ chef.id }}">Visualizar</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}