{% extends '../layout.njk' %}

{% block content %}

    <main>
        <form action="/admin/users/profile?_method=PUT" method="post">
            <div class="header">
                <h1>Bem-vindo, {{ user.name }}</h1>
                <div class="buttons">
                    <button type="submit">Salvar</button>
                </div>
            </div>

            {% include './fields.njk' %}
            <input type="hidden" name="id" value="{{user.id}}">

            <div class="item">
                <div class="password">Senha</div>
                <input type="password" name="password" placeholder="Digite sua senha">
            </div>
        </form>
    </main>

{% endblock %}