{% extends '../layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/users.css">
{% endblock %}

{% block content %}

    <main>
        <form action="/admin/users/register" method="post">
            <div class="header">
                <h1>Criar Usuário</h1>
                <div class="buttons">
                    <button type="submit">Salvar</button>
                    <a href="/admin/recipes">Cancelar</a>
                </div>
            </div>

            {% include './fields.njk' %}

            <div class="checkbox">
                <input type="checkbox" name="is_admin">
                <label for="is_admin">Administrador</label>
            </div>
        </form>
    </main>

{% endblock %}