<header>
    <nav>
        <a href="/"><img src="/assets/logo.png" alt="Logomarca Foodfy"></a>
        <div class="links">
            <a href="/about">Sobre</a>
            <a href="/recipes">Receitas</a>
            <a href="/chefs">Chefs</a>
        </div>
    </nav>
</header>