{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/detail.css">  
  <title>Foodfy - {{ item.title }}</title>
{% endblock %}
{% block content %}
  <main id="content">
    <section class="center">
      <div>
        <img src="{{ item.image }}" alt="Imagem da receita {{ item.title }}">
      </div>
      <div>
        <h1>{{ item.title }}</h1>
        <p>por {{ item.author }}</p>
      </div>
    </section>
    <section class="next">
      <div class="ingredients">
        <div class="title">
          <h2>Ingredientes</h2>
          <p>Esconder</p>
          <p>Mostrar</p>
        </div>
        <div class="modal">
          {% for ingredient in item.ingredients %}
            <li>{{ ingredient }}</li>
          {% endfor %}
        </div>
      </div>
      <div class="preparation">
        <div class="title">
          <h2>Modo de preparo</h2>
          <p>Esconder</p>
          <p>Mostrar</p>
        </div>
        <div class="modal">
          {% for preparation in item.preparations %}
            <li>{{ preparation }}</li>
          {% endfor %}
        </div>
      </div>
      <div class="information">
        <div class="title">
          <h2>Informações adicionais</h2>
          <p>Esconder</p>
          <p>Mostrar</p>
        </div>
        <div class="modal">
          {% for information in item.information %}
              <ul>{{ information }}</ul>
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
{% endblock%}