<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" type="image/x-icon" href="/chef-favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/main.css">
    
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="main">
      <header>
       <nav>
        <a href="/"><img src="/logo.png" alt=""></a>
        <div class="links">
          <a href="/about" class="selectedAbout">Sobre</a>
          <a href="/recipes" class="selectedRecipes">Receitas</a>
        </div>
       </nav>
      </header>
      {% block content %}{% endblock %}
      <footer>
        <p>Todos os direitos reservados, receitas Foodfy</p>
      </footer>
    </div>
    {% block modal %}{% endblock %}
    {% block script %}{% endblock %}   
  </body>
</html>