{% extends 'layout.njk' %}
{% block head %}
  <link rel="stylesheet" href="/recipes.css">  
  <title>Foodfy - Receitas</title>
{% endblock %}
{% block content %}
  <main class="content">
    <section>
      <div class="cards">
        <div class="card" id="burger.png" name="Triplo bacon burger" chef="por Jorge Relato">
          <div class="card-img">
            <img src="/burger.png" alt="">
          </div>
          <div class="card-content">
            <p>Triplo bacon burger</p>
          </div>
          <div class="card-info">
            <p>por Jorge Relato</p>
          </div>
        </div>
        <div class="card" id="pizza.png" name="Pizza 4 estações" chef="por Fabiana Melo">
          <div class="card-img">
            <img src="/pizza.png" alt="">
          </div>
          <div class="card-content">
            <p>Pizza 4 estações</p>
          </div>
          <div class="card-info">
            <p>por Fabiana Melo</p>
          </div>
        </div>
        <div class="card" id="espaguete.png" name="Espaguete ao alho" chef="por Júlia Kinoto">
          <div class="card-img">
            <img src="/espaguete.png" alt="">
          </div>
          <div class="card-content">
            <p>Espaguete ao alho</p>
          </div>
          <div class="card-info">
            <p>por Júlia Kinoto</p>
          </div>
        </div>
        <div class="card" id="lasanha.png" name="Lasanha mac n' cheese" chef="por Juliano Vieira">
          <div class="card-img">
            <img src="/lasanha.png" alt="">
          </div>
          <div class="card-content">
            <p>Lasanha mac n' cheese</p>
          </div>
          <div class="card-info">
            <p>por Juliano Vieira</p>
          </div>
        </div>
        <div class="card" id="doce.png" name="Docinhos pão-do-céu" chef="por Ricardo Golvea">
          <div class="card-img">
            <img src="/doce.png" alt="">
          </div>
          <div class="card-content">
            <p>Docinhos pão-do-céu</p>
          </div>
          <div class="card-info">
            <p>por Ricardo Golvea</p>
          </div>
        </div>
        <div class="card" id="asinhas.png" name="Asinhas de frango ao barbecue" chef="por Vania Steroski">
          <div class="card-img">
            <img src="/asinhas.png" alt="">
          </div>
          <div class="card-content">
            <p>Asinhas de frango ao barbecue</p>
          </div>
          <div class="card-info">
            <p>por Vania Steroski</p>
          </div>
        </div>
        <div class="card" id="burger.png" name="Triplo bacon burger" chef="por Jorge Relato">
          <div class="card-img">
            <img src="/burger.png" alt="">
          </div>
          <div class="card-content">
            <p>Triplo bacon burger</p>
          </div>
          <div class="card-info">
            <p>por Jorge Relato</p>
          </div>
        </div>
        <div class="card" id="pizza.png" name="Pizza 4 estações" chef="por Fabiana Melo">
          <div class="card-img">
            <img src="/pizza.png" alt="">
          </div>
          <div class="card-content">
            <p>Pizza 4 estações</p>
          </div>
          <div class="card-info">
            <p>por Fabiana Melo</p>
          </div>
        </div>
        <div class="card" id="espaguete.png" name="Espaguete ao alho" chef="por Júlia Kinoto">
          <div class="card-img">
            <img src="/espaguete.png" alt="">
          </div>
          <div class="card-content">
            <p>Espaguete ao alho</p>
          </div>
          <div class="card-info">
            <p>por Júlia Kinoto</p>
          </div>
        </div>
        <div class="card" id="lasanha.png" name="Lasanha mac n' cheese" chef="por Juliano Vieira">
          <div class="card-img">
            <img src="/lasanha.png" alt="">
          </div>
          <div class="card-content">
            <p>Lasanha mac n' cheese</p>
          </div>
          <div class="card-info">
            <p>por Juliano Vieira</p>
          </div>
        </div>
        <div class="card" id="doce.png" name="Docinhos pão-do-céu" chef="por Ricardo Golvea">
          <div class="card-img">
            <img src="/doce.png" alt="">
          </div>
          <div class="card-content">
            <p>Docinhos pão-do-céu</p>
          </div>
          <div class="card-info">
            <p>por Ricardo Golvea</p>
          </div>
        </div>
        <div class="card" id="asinhas.png" name="Asinhas de frango ao barbecue" chef="por Vania Steroski">
          <div class="card-img">
            <img src="/asinhas.png" alt="">
          </div>
          <div class="card-content">
            <p>Asinhas de frango ao barbecue</p>
          </div>
          <div class="card-info">
            <p>por Vania Steroski</p>
          </div>
        </div>

      </div>

    </section>
  </main>
{% endblock %}
{% block script %}   
  <script src="/foodfy.js"></script>
{% endblock %}