<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <title>Foodfy - Área Administrativa</title>
        
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="shortcut icon" href="/assets/chef-favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/styles/admin/main.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        {% block head %}{% endblock %}
    </head>
    <body>
        {% include './parts/header.njk' %}

        {% block content %}{% endblock %}
        
        {% include './parts/footer.njk' %}
        
        <script>
            // CÓDIGO PARA MANTER LINK DO MENU MARCADO DE ACORDO COM A PÁGINA
            const currentPage = location.pathname
            const menuLinks = document.querySelectorAll( 'header nav .links a')

            for ( link of menuLinks ) {
                if ( currentPage.includes ( link.getAttribute ('href') )) {
                    link.classList.add ( 'active' )
                }
            }
        </script>
    </body>
</html>