/* STYLE RECIPES CARDS */
a {
    text-decoration: none;
    font-weight: bold;
}
#main-content {
    width: 940px;
    margin: 0 auto;
}
#main-content .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin-top: 30px;
}
.header h1 {
    color: #111;
    font-size: 24px;
    line-height: 28px;
}
.header a {
    background-color: #6558c3;
    font-size: 16px;
    line-height: 19px;
    color: whitesmoke;
    padding: 9px 18px;
    border-radius: 4px;
    transition: 300ms;
}
.header a:hover {
    background-color: #4b3ead;
}
section .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    column-gap: 4px;
    max-width: 450px;
    height: 90px;
    margin-top: 10px;
}
.card .card-image img { 
    width: 172px;
    height: 80px;
    object-fit: cover;    
    border-radius: 8px;
    border: 1px solid white;
    box-shadow: 0px 0px 6px -1px rgba(1, 1, 1, 0.8);
}
.card .card-title p {
    line-height: 21px;
    font-size: 18px;
    color: #111;
    width: 300px;
}
#card-content {
    display: grid;
    grid-template-rows: 1fr 2fr;
    margin-left: 5px;
}
#card-content .card-content {
    display: grid;
    grid-template-rows: 1fr 1fr;
}
#card-content .card-content p {
    font-size: 14px;
    line-height: 16px;
    color: #777;
}
#card-content .card-content a {
    color: #6558c3;
    font-size: 14px;
    line-height: 16px;
    width: 0;
    height: 0;
}
/* STYLE CHEF CARDS */ 
.chef-cards {
    width: 940px;
    margin: 30px auto 0;
    display: grid;
    grid-template-columns: repeat( 4, 1fr );
    row-gap: 30px;
}
.chef-card {
    display: flex;
    padding: 5px;
    transition: 300ms;
    width: 235px;
    cursor: pointer;
}
.chef-card:hover {
    box-shadow: 0px 0px 8px -1px rgba(1, 1, 1, 0.3);
}
.chef-avatar img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid white;
    box-shadow: 3px 0px 6px -2px rgba(1, 1, 1, 0.8);
    margin-right: 20px;
}
.chef-content {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}
.chef-content p {
    font-size: 18px;
    line-height: 24px;
    color: #111;
    padding-bottom: 5px;
}
.chef-content a {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    color: #6558C3;
    border-radius: 8px;
    transition: 300ms;
    width: 0;
}
.chef-content a:hover {
    color: #58c3b5;
}