{% extends './layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/site/chefs.css">
{% endblock %}

{% block content %}
    <section>
        <div class="chef-cards">
            {% for chef in chefs %}
                <div class="chef-card">
                    <div class="chef-avatar">
                        <img src="{{ chef.avatar_url }}" alt="Chef {{ chef.name }}">
                    </div>
                    <div class="chef-content">
                        <p>{{ chef.name }}</p>
                        <p> 
                            {% if chef.total_recipes == 1 %}
                            {{ chef.total_recipes }} receita 
                            {% elif chef.total_recipes > 1 %}
                            {{ chef.total_recipes }} receitas
                            {% else %}
                                Sem receita
                            {% endif %}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}