{% extends './layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/site/index.css">
{% endblock %}

{% block content %}
    <main>
        <div class="search-block">
            <form action="/home" method="get">
                <input type="text" name="filter" class="filter" placeholder="Buscar uma receita" value="{{ filter }}">
                <button type="submit">Buscar</button>
            </form>
        </div>
        {% if filteredRecipes %}

            <section class="filterResults">
                <h1>Buscando por "{{ filter }}"</h1>
                <div class="cards">
                    {% for recipe in filteredRecipes %}
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ recipe.image }}" alt="Receita {{ recipe.title }}">
                            </div>
                            <div class="card-title">
                                <h2>{{ recipe.title }}</h2>
                            </div>
                            <div class="card-info">
                                <p>por {{ recipe.chef_name }}</p>                    
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% else %}
            <div class="content">
                <div class="text-content">
                    <h1 class="typing">As melhores receitas</h1>
                    <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
                </div>
                <div class="image-content">
                    <img src="/recipes/chef.png" alt="Site de receitas Foodfy">
                </div>
            </div>
            <section>
                <h1>Mais acessadas</h1>
                <div class="cards">
                    {% for recipe in recipes %}
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ recipe.image }}" alt="Receita {{ recipe.title }}">
                            </div>
                            <div class="card-title">
                                <h2>{{ recipe.title }}</h2>
                            </div>
                            <div class="card-info">
                                <p>por {{ recipe.chef_name }}</p>                    
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}