<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block head %}{% endblock %}
        <link rel="shortcut icon" href="/chef-favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/site/main.css">
        
        <title>Foodfy</title>
    </head>
    
    <body>
        <div class="main">
            <header>
                <nav>
                    <a href="/home"><img src="/recipes/logo.png" alt="Logomarca Foodfy"></a>
                    <div class="links">
                        <a href="/about">Sobre</a>
                        <a href="/recipes">Receitas</a>
                        <a href="/chefs">Chefs</a>
                    </div>
                </nav>
            </header>
            {% block content %}{% endblock %}

        </div>
        <script src="/site.js"></script>
        {% block script %}{% endblock %}
        <footer>
            <p>Todos os direitos reservados, receitas <a href="/home">Foodfy</a></p>
        </footer>
    </body>
</html>