{% if animation === 'email' %} 
	{% extends '../session/layout.njk' %}
{% else %}
	{% extends '../layout.njk' %}
{% endif %}

{% block content %}
	<div class="{{animation}}-lottie"></div>
	<div class="animation-content">
		<h2>{{ mainMessage }}</h2>
		{% if message %} 
			<p>{{ message }}</p>
		{% endif %}
		<a href="{{ link }}">{{ button }}</a> 
	</div>
	
	<script src="/animation/lottie.min.js"></script>
	{% if animation === 'success' %}
		<script>
			const element = document.querySelector('.{{animation}}-lottie')

			lottie.loadAnimation({
				container: element,
				renderer: 'svg',
				loop: false,
				autoplay: true,
				path: '/animation/success-animation.json'
			})
		</script>
	{% elseif animation === 'deleted' %}
		<script>
			const element = document.querySelector('.{{animation}}-lottie')

			lottie.loadAnimation({
				container: element,
				renderer: 'svg',
				loop: false,
				autoplay: true,
				path: '/animation/deleted.json'
			})
		</script>
	{% elseif animation === 'email' %}
		<script>
			const element = document.querySelector('.{{animation}}-lottie')

			lottie.loadAnimation({
				container: element,
				renderer: 'svg',
				loop: false,
				autoplay: true,
				path: '/animation/email.json'
			})
		</script>
	{% endif %}
{% endblock %}