<header>

    <div class="menu">
        <div class="logo">
            <a href="/"><img src="/assets/logo2.png" alt="Logomarca Foodfy"></a>
        </div>
        <nav class="links">
            <ul>
                <li class="account">
                    <a href="#">Receitas</a>
                    <ul class="submenu">
                        <li><a href="/admin/recipes">Minhas Receitas</a></li>
                        <li><a href="/admin/recipes/create">Criar Receita</a></li>
                    </ul>
                </li>
                <li class="account">
                    <a href="#">Chefs</a>
                    <ul class="submenu">
                        <li><a href="/admin/chefs">Chefs</a></li>
                        <li><a href="/admin/chefs/create">Criar Chef</a></li>
                    </ul>
                </li>
                <li class="account">
                    <a href="#">Usuários</a>
                    <ul class="submenu">
                        <li><a href="/admin/users/profile">Meu Perfil</a></li>
                        <li><a href="/admin/users/register">Cadastrar Usuário</a></li>
                        <li><a href="/admin/users">Lista de Usuários</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <form action="/admin/users/logout" method="post">
            <button type="submit">Sair</button>
        </form>
    </div>

</header>