<header>
    <nav>
        <a href="/admin/recipes"><img src="/assets/logo2.png" alt="Logomarca Foodfy"></a>
        <div class="links">
            <a href="/admin/recipes">Receitas</a>
            <a href="/admin/chefs">Chefs</a>
        </div>
    </nav>
</header>