 <div id="modal" class="hide">
    <div class="modal-content">
        <img src="/assets/chef.png" alt="Imagem Foodfy Chef">
        <div class="modal-buttons">
            <p>Deseja realmente deletar?</p>
            <div>
                <button type="submit" form="deleteForm">Confirmar</button>
                <button class="removeModal" type="button">Voltar</button>
            </div>
            {% include './confirm.njk' %}
        </div>
    </div>
</div>