/* PÁGINA COM DETALHE DE CADA RECEITA */
section.detailPage { 
    width: 940px;
    margin: 0 auto 50px;
}
.avatar.recipeTitle {
    text-align: center;
}

.recipeTitle .highlight img {
    height: 300px;
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
    border: 1px solid white;
    box-shadow: 0px 0px 6px -1px rgba(1, 1, 1, 0.8);
}
/* recipe gallery */

.gallery-preview {
    width: 100%;
    display: flex;
    margin-top: 4px;
    justify-content: flex-end;
}
.gallery-preview img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 4px;
    margin-left: 8px;
    opacity: .6;
    cursor: pointer;
    transition: .2s;
}
.gallery-preview img:hover,
.gallery-preview img.active {
    opacity: 1;
}

.avatar.recipeTitle h1 {
    font-size: 36px;
    line-height: 42px;
    color: #111;
    margin-top: 35px;
}
.avatar.recipeTitle p {
    font-size: 20px;
    line-height: 24px;
    color: #777;
    margin-top: 5px;
}
.recipeHeader {
    display: flex;
    margin-bottom: 25px;
    margin-top: 35px;
    align-items: center;
}
.recipeHeader h1 {
    font-size: 24px;
    line-height: 34px;
    color: #111;
}
.recipeHeader span {
    font-size: 14px;
    line-height: 16px;
    color: #999;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
}
.content {
    display: none;
}
.content.showContent {
    font-size: 18px;
    line-height: 28px;
    color: #444;
    display: contents;
}
.content.showContent p {
    padding-bottom: 5px;
}