header nav .links .selectedRecipes {
  font-weight: bold;
}
/* ======== SECTION ======== */
section {
  width: 940px;

  margin: 0 auto;
}
section .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  column-gap: 20px;
}
section .cards .card {
  margin-bottom: 28px;
  width: 100%;
  cursor: pointer;
}
section .cards .card .card-img img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}
section .cards .card .card-content p {
  height: 21px;

  line-height: 21px;
  font-size: 18px;
  color: #111;

  margin-top: 20px;
}
section .cards .card .card-info p {
  height: 16px;

  color: #777777;
  line-height: 16px;

  font-size: 14px;
  margin-top: 7px;
}
