{% extends '../layout.njk' %}
{% block head %}
    <link rel="stylesheet" href="/admin/fields.css">
    <link rel="stylesheet" href="/admin/edit.css">
{% endblock%}

{% block content %}
    <div class="main-content">
        <form action="/admin/recipes?_method=DELETE" id="delete-recipe" method="POST">
            <input type="hidden" name="id" value="{{ recipe.id }}">
        </form>
        <form action="/admin/recipes?_method=PUT" id="update-recipe" method="POST">
            <div class="header">
                <h1>Editando receita</h1>
                <div class="buttons">
                    <input type="hidden" name="id" value="{{ recipe.id }}">
                    <button type="button" class="addModal">Deletar</button>
                    <button type="submit" form="update-recipe">Salvar receita</button>
                </div>
            </div>
            <fieldset>
                {% include './fields.njk' %}
            </fieldset>
        </form>

        <div id="modal" class="hide">
            <div class="modal-content">
                <img src="/recipes/chef.png" alt="Imagem Foodfy Chef">
                <div class="modal-buttons">
                    <p>Deseja realmente deletar?</p>
                    <div>
                        <button type="submit" form="delete-recipe">Confirmar</button>
                        <button class="removeModal" type="button">Voltar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock%}