{% extends '../layout.njk' %}
{% block head %}
    <link rel="stylesheet" href="/admin/show.css">
{% endblock %}

{% block content %}
    <div id="main-content">
        <div class="header">
            <h1>Receita: {{ recipe.title }}</h1>
            <a href="/admin/recipes/{{ recipe.id }}/edit">Editar receita</a>
        </div>
        <section>
            <div class="avatar recipeTitle">
                <img src="{{ recipe.image }}" alt="">
                <h1>{{ recipe.title }}</h1>
                <p>por {{ recipe.chef_name }} </p>
            </div>
            <div class="detail">
                <h1>Ingredientes</h1>
                <div class="content">
                    {% for ingredient in recipe.ingredients %}
                        <p> - {{ ingredient }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="detail">
                <h1>Modo de preparo</h1>
                <div class="content">
                    {% for preparation in recipe.preparations %}
                        <p> - {{ preparation }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="detail">
                <h1>Informações adicionais</h1>
                <div class="content">
                    <p>{{ recipe.information }}</p>
                </div>
            </div>
        </section>
    </div>
{% endblock %}