* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}

/* ======== HEADER ======== */
header {
  width: 100%;
  height: 95px;
  position: relative;
  width: 940px;
  margin: 0 auto;
}
header nav {
  display: flex;
  align-items: center;
  position: absolute;

  top: 36px;
}
header nav .links {
  margin-left: 85px;
}
header nav a {
  color: #111111;
  font-size: 16px;
  line-height: 19px;

  width: 42px;
  height: 19px;

  margin-left: 35px;
  transition: 300ms;
}
header nav a:hover {
  opacity: 0.8;
  transition: 300ms;
}

/* ======== MAIN CONTENT ======== */
.content .main-content {
  height: 366px;
  width: 100%;
  width: 940px;

  background-color: #fbdfdb;
  position: relative;

  margin: 0 auto;
  border-radius: 30px;
}
.content .main-content div {
  position: absolute;
  height: 100%;
  width: 100%;

  background: url('/assets/chef.png') no-repeat;
  background-position: 45vw 10vh;
}
.content .main-content .text-content {
  height: 100%;
  width: 300px;
  margin-left: 70px;

  align-items: center;
}
.content .main-content .text-content h1 {
  width: 305px;
  height: 38px;

  line-height: 38px;
  font-size: 32px;

  margin: 100px 0 0;
}
.content .main-content .text-content p {
  line-height: 28px;
  opacity: 0.8;

  width: 316px;
  height: 84px;
  margin-top: 10px;

  font-size: 18px;
}

/* ======== SECTION ======== */
section {
  margin-top: 50px;
  width: 940px;

  margin: 50px auto 0;
}
section .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 20px;
  column-gap: 20px;
}
section .cards .card {
  margin-bottom: 28px;
  width: 100%;
}
section .cards .card .card-img img {
  width: 300px;
  height: 140px;
  border-radius: 15px;
}
section .cards .card .card-content p {
  height: 21px;

  line-height: 21px;
  font-size: 18px;
  color: #111;

  margin-top: 20px;
}
section .cards .card .card-info p {
  height: 16px;

  color: #777777;
  line-height: 16px;

  font-size: 14px;
  margin-top: 7px;
}

/* ======== FOOTER ======== */
footer {
  width: 100%;
  height: 62px;
  margin-top: 40px;

  background-color: #eee;
  display: flex;
  align-items: center;
}
footer p {
  height: 16px;
  flex: 1;

  color: #999;
  font-size: 14px;
  text-align: center;
}