{% extends '../layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/site/about.css">
    <title>Foodfy - Sobre</title>
{% endblock %}

{% block content %}
    <main>
        {% for item in result %}
            <div class="{{ item.class }}">
                <h2>{{ item.title }}</h2>
                <div class="content">
                    <p>{{ item.paragraph }}</p>
                    <p>{{ item.paragraph2 }}</p>
                </div>
            </div>
        {% endfor %}
    </main>
{% endblock %}