  {% extends '../layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/site/home.css"> 
{% endblock %}

{% block content %}
    <main>
        <div class="search-block">
            <form action="/search" method="get">
                <input type="text" name="filter" class="filter" placeholder="Buscar uma receita" value="{{ filter }}">
                <button type="submit"><i class="material-icons">search</i></button>
            </form>
        </div>
        <div class="content">
            <div class="text-content">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="image-content">
                <img src="/assets/chef.png" alt="Site de receitas Foodfy">
            </div>
        </div>
        <section>
            <h1>Mais acessadas</h1>
            <div class="cards">
                {% for recipe in recipes %}
                    <a href="/recipes/{{recipe.id}}">
                        <div class="card">
                            <div class="card-image">
                                <img src="{{ recipe.img }}" alt="Receita {{ recipe.title }}">
                            </div>
                            <div class="card-title">
                                <h2>{{ recipe.title }}</h2>
                            </div>
                            <div class="card-info">
                                <p>por {{ recipe.chef.name }}</p>                    
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}