{% extends '../layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/site/recipes.css">
    <title>Foodfy - Receitas</title>
{% endblock %}

{% block content %}
    <section>
        <div class="content">
            <div class="cards">
                {% for recipe in recipes %}
                    <div class="card" id="{{ recipe.id }}">
                        <div class="card-img">
                            <img src="{{ recipe.img }}" alt="Imagem do prato {{ recipe.title }}">
                        </div>
                        <div class="card-content">
                            <p>{{ recipe.title }}</p>
                        </div>
                        <div class="card-info">
                            <p>por {{ recipe.chef_name }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}